include ../../components/input/input
include ../../components/checkbox/checkbox
include ../../components/radio-button/radio-button
include ../../components/label/label
include ../../components/toggler/toggler
include ../../components/button/button
include ../../components/like-button/like-button
include ../../components/rating/rating
include ../../components/paginator/paginator
include ../../components/bullet-list/bullet-list
include ../../components/advantages-list/advantages-list
include ../../components/comment/comment
include ../../components/checkbox-list/checkbox-list

.form-elements
  section.form-elements__column
    +input({label: "Text Field", type: "default"})(placeholder="Email")
    +input({label: "Text Field", type: "hover/focus"})(placeholder="Email" value="This is pretty awesome")
    +input({label: "Masked text field", type: "default"})(placeholder="ДД.ММ.ГГГГ" name="user-bday")
  section.form-elements__column
    +label({title: "Checkbox Buttons"})
    +checkbox({label: "Можно курить", name: "conditions", value: "smoke"})
    +checkbox({label: "Можно с питомцами", name: "conditions", value: "pets", checked: true})
    +checkbox({label: "Можно пригласить гостей (до&nbsp;10&nbsp;человек)", name: "conditions", value: "guests", checked: true})
    +label({title: "Radio Buttons"})
    .form-elements__element
      +radio-button({name: "gender", value: "male", label: "Мужчина", checked: true})
      +radio-button({name: "gender", value: "female", label: "Женщина"})
    +label({title: "Toggle"})
    +toggler({label: "Получать спецпредложения", name: "special-offers", checked: true})
    +toggler({label: "Получать спецпредложения", name: "special-offers"})
    +label({title: "Like Button"})
    .form-elements__element.form-elements__element--gap-min
      +like-button({count: 2})
      +like-button({count: 12, isFavorite: true})
    +label({title: "Rate Button"})
    .form-elements__element
      +rating(4)
      +rating(5)
  section.form-elements__column
    +label({title: "Range Slider", subtitle: "5&nbsp;000&#8381;&nbsp;-&nbsp;10&nbsp;000&#8381;"})
    +label({title: "Buttons"})
    .form-elements__element
      +button({style: "default", type: "button", text: "Click me"})
      +button({style: "default", type: "button", text: "Click me", hovered: true})
    .form-elements__element
      +button({style: "bordered", type: "button", text: "Click me"})
      +button({style: "bordered", type: "button", text: "Click me", hovered: true})
    .form-elements__element
      +button({style: "textual", type: "button", text: "Click me"})
      +button({style: "textual", type: "button", text: "Click me", hovered: true})
    +button({style: "default", type: "button", text: "Перейти к оплате", size: "full", withArrow: true})
    +label({title: "Pagination"})
    +paginator({countOnPage: 12, countTotal: 180, currentPage: 1})
  section.form-elements__column
    +checkbox-list({
      label: "Expandable checkbox list",
      isActive: false,
      items: [
        {name: "breakfast", label: 'Завтрак'},
        {name: "table", label: 'Письменный стол', checked: true},
        {name: "baby-chair", label: 'Стул для кормления', checked: true},
        {name: "baby-bed", label: 'Кроватка', checked: true},
        {name: "tv", label: 'Телевизор'},
        {name: "shampoo", label: 'Шампунь'},
        {name: "tv-2", label: 'Телевизор'},
        {name: "shampoo-2", label: 'Шампунь'},
      ]
    })
    +checkbox-list({
      label: "Expandable checkbox list",
      isActive: true,
      items: [
        {name: "breakfast", label: 'Завтрак'},
        {name: "table", label: 'Письменный стол', checked: true},
        {name: "baby-chair", label: 'Стул для кормления', checked: true},
        {name: "baby-bed", label: 'Кроватка', checked: true},
        {name: "tv", label: 'Телевизор'},
        {name: "shampoo", label: 'Шампунь'},
        {name: "tv-2", label: 'Телевизор'},
        {name: "shampoo-2", label: 'Шампунь'},
      ]
    })
  section.form-elements__column
    +label({title: "Rich Checkbox Buttons"})
    +checkbox({label: "Широкий коридор", name: "availability", value: "wide-corridor", details: "Ширина коридоров в&nbsp;номере не&nbsp;менее 91&nbsp;см"})
    +checkbox({label: "Помощник для инвалидов", name: "availability", value: "assistant", details: "На&nbsp;1&nbsp;этаже вас встретит специалист и&nbsp;проводит до&nbsp;номера"})
  section.form-elements__column
    +label({title: "Bullet list"})
    +bullet-list(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"])
  section.form-elements__column
    +advantages-list([
      {title: "Комфорт", subtitle: "Шумопоглощающие стены", icon: "insert_emoticon"},
      {title: "Удобство", subtitle: "Окно в каждой из спален", icon: "location_city"}
    ])
  section.form-elements__column.form-elements__column--two
    +comment({
      authorName: "Мурад Сарафанов", 
      authorImage: {src: "../../assets/images/avatars/man.webp", alt: "Фото автора отзыва Мурада Сарафанова", width: 48, height: 48},
      date: "5 дней назад",
      text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
      countFavorites: 12,
      isFavorite: true
    })