include ../../components/input/input
include ../../components/checkbox/checkbox
include ../../components/radio-button/radio-button
include ../../components/label/label
include ../../components/toggler/toggler
include ../../components/button/button

.form-elements
  section.form-elements__column
    +input({label: "Text Field", type: "default"})(placeholder="Email")
    +input({label: "Text Field", type: "hover/focus"})(placeholder="Email" value="This is pretty awesome")
    +input({label: "Masked text field", type: "default"})(placeholder="ДД.ММ.ГГГГ" name="user-bday")
  section.form-elements__column
    +label({title: "Checkbox Buttons"})
    +checkbox({label: "Можно курить", name: "conditions", value: "smoke"})
    +checkbox({label: "Можно с питомцами", name: "conditions", value: "pets", checked: true})
    +checkbox({label: "Можно пригласить гостей (до&nbsp;10&nbsp;человек)", name: "conditions", value: "guests", checked: true})
    +label({title: "Radio Buttons"})
    .form-elements__element
      +radio-button({name: "gender", value: "male", label: "Мужчина", checked: true})
      +radio-button({name: "gender", value: "female", label: "Женщина"})
    +label({title: "Toggle"})
    +toggler({label: "Получать спецпредложения", name: "special-offers", checked: true})
    +toggler({label: "Получать спецпредложения", name: "special-offers"})
    +label({title: "Like Button"})
    +label({title: "Rate Button"})
  section.form-elements__column
    +label({title: "Range Slider", subtitle: "5&nbsp;000&#8381;&nbsp;-&nbsp;10&nbsp;000&#8381;"})
    +label({title: "Buttons"})
    .form-elements__element
      +button({style: "default", type: "button", text: "Click me"})
      +button({style: "default", type: "button", text: "Click me", hovered: true})
    .form-elements__element
      +button({style: "bordered", type: "button", text: "Click me"})
      +button({style: "bordered", type: "button", text: "Click me", hovered: true})
    .form-elements__element
      +button({style: "textual", type: "button", text: "Click me"})
      +button({style: "textual", type: "button", text: "Click me", hovered: true})
    +button({style: "default", type: "button", text: "Перейти к оплате", size: "full", withArrow: true})

    +label({title: "Pagination"})
  section.form-elements__column
  section.form-elements__column
    +label({title: "Rich Checkbox Buttons"})
    +checkbox({label: "Широкий коридор", name: "availability", value: "wide-corridor", details: "Ширина коридоров в&nbsp;номере не&nbsp;менее 91&nbsp;см"})
    +checkbox({label: "Помощник для инвалидов", name: "availability", value: "assistant", details: "На&nbsp;1&nbsp;этаже вас встретит специалист и&nbsp;проводит до&nbsp;номера"})
  section.form-elements__column