@import "../vars.scss";

.form-elements {
  padding: 140px 141px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 130px;

  &__column {
    display: flex;
    flex-direction: column;
    gap: $px20;

    &--two {
      grid-column: 2/4;
    }
  }

  &__element {
    display: flex;
    gap: $px20;

    &--gap-min {
      gap: $px10;
    }
  }
}
