@import "base.scss";

h1 {
  text-align: center;
  color: green;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

@import "pages/colors-types.scss";

.form-elements {
  padding: 140px 141px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 130px;

  &__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
