$ff-primary: "Montserrat", sans-serif;
$ff-secondary: "Quicksand", sans-serif;

$palette-primary: #bc9cff;
$palette-primary-light: #efefff;
$palette-secondary: #6fcf97;

$font-palette: #1f2041;
$font-palette-75: rgba($font-palette, 0.75);
$font-palette-50: rgba($font-palette, 0.5);
$font-palette-25: rgba($font-palette, 0.25);
$font-palette-10: rgba($font-palette, 0.1);
$font-palette-5: rgba($font-palette, 0.05);
