$ff-primary: "Montserrat", sans-serif;
$ff-secondary: "Quicksand", sans-serif;

$color-white: #fff;
$color-black: #000;

$palette-primary: #bc9cff;
$palette-primary-light: #efefff;
$palette-secondary: #6fcf97;

$ff-palette: #1f2041;
$ff-palette-75: rgba($ff-palette, 0.75);
$ff-palette-50: rgba($ff-palette, 0.5);
$ff-palette-25: rgba($ff-palette, 0.25);
$ff-palette-10: rgba($ff-palette, 0.1);
$ff-palette-5: rgba($ff-palette, 0.05);

$gradient-primary: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$gradient-secondary: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

@function px-to-rem($size, $baseSize: $ff-base-size) {
  @return $size / $baseSize#{rem};
}

$ff-base-size: 16px;
$ff-xxs: px-to-rem(10px);
$ff-xs: px-to-rem(12px);
$ff-sm: px-to-rem(14px);
$ff-md: px-to-rem(19px);
$ff-lg: px-to-rem(24px);

$px3: px-to-rem(3px);
$px4: px-to-rem(4px);
$px5: px-to-rem(5px);
$px6: px-to-rem(6px);
$px7: px-to-rem(7px);
$px8: px-to-rem(8px);
$px10: px-to-rem(10px);
$px12: px-to-rem(12px);
$px20: px-to-rem(20px);
$px32: px-to-rem(32px);
$px40: px-to-rem(40px);
$px48: px-to-rem(48px);
