doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Сайт отеля
  body
    include ../../components/input/input
    include ../colors-types/colors-types

    block colors-types

    .form-elements
      section.form-elements__column
        +input({label: "Text Field", type: "default"})(placeholder="Email")
        +input({label: "Text Field", type: "hover/focus"})(placeholder="Email" value="This is pretty awesome")
        +input({label: "Masked text field", type: "default"})(placeholder="ДД.ММ.ГГГГ" name="user-bday")
      section
        +input({label: "Text Field", type: "default"})(placeholder="Email")
      section
        +input({label: "Text Field", type: "default"})(placeholder="Email")