@import "../../styles/vars.scss";

.toggler {
  display: flex;
  align-items: center;
  line-height: 1.5;
  color: $ff-palette-75;
  cursor: pointer;

  &__checkbox {
    position: relative;
    height: 1.25rem;
    flex-basis: 2.5rem;
    min-width: 2.5rem;
    border-radius: 5rem;
    border-width: 1px;
    border-style: solid;
    border-color: $ff-palette-25;
    transition: border-color 0.2s ease, background-color 0.2s ease;
    margin-right: 0.625rem;

    &:after {
      content: "";
      position: absolute;
      top: 3px;
      bottom: 3px;
      left: 3px;
      width: calc(1.25rem - 8px);
      background-color: $ff-palette-25;
      border-radius: calc((1.25rem - 8px) * 2);
      transition: left 0.2s, width 0.3s, transform 0.2s, background-color 0.2s;
    }
  }

  &__input {
    &:checked + .toggler__checkbox {
      border-color: $palette-primary;

      &:after {
        background: $gradient-primary;
        left: calc(100% - 3px);
        transform: translateX(-100%);
      }
    }

    &:hover:not(:checked) + .toggler__checkbox {
      border-color: $ff-palette-50;

      &:after {
        background-color: $ff-palette-50;
      }
    }

    &:focus + .toggler__checkbox {
      transition: box-shadow 0.25s ease-in-out;
      box-shadow: 0 0.3rem 0.3rem $ff-palette-25;
    }

    &:active + .toggler__checkbox {
      &:after {
        width: 50%;
      }
    }
  }
}
